body {
  font-family: 'Segoe UI', sans-serif;
  background: #fdf6f0;
  color: #000; /* schwarze Schrift */
  padding: 2rem;
}

.container {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

button {
  background: #d94848;
  color: white;
  border: none;
  padding: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #b73434;
}

.hidden {
  display: none;
}

#result-box {
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #fceaea; /* leichter roter Hintergrund */
  border-left: 6px solid #d94848;
  padding: 1.5rem;
  border-radius: 12px;
}

#result-box a {
  color: white;
  background-color: #d94848;
  padding: 0.75rem 1.2rem;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  margin-top: 1rem;
  font-weight: bold;
  transition: 0.2s;
}

#result-box a:hover {
  background-color: #b73434;
}

#path-box {
  margin-bottom: 1rem;
  background-color: #fceaea;
  padding: 0.75rem 1rem;
  border-left: 6px solid #d94848;
  border-radius: 8px;
  font-size: 0.95rem;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.05);
}

#path span::before {
  content: "🔥";
}
